localhost:80 {
    reverse_proxy localhost:8080
    reverse_proxy /api/* localhost:8000
    reverse_proxy /grafana/* localhost:3000
    reverse_proxy /prometheus/* localhost:9090

    rewrite /api /api/
    rewrite /grafana /grafana/
    rewrite /prometheus /prometheus/
}
