{$DOMAINNAME} {
    rewrite /api /api/
    rewrite /grafana /grafana/
    rewrite /kibana /kibana/

    reverse_proxy http://localhost:8080
    reverse_proxy /api/* http://localhost:8000
    reverse_proxy /grafana/* http://localhost:3000
    reverse_proxy /kibana/* http://localhost:5601

    handle /kibana/* {
        basicauth {
	        devops22 {$KIBANA_PW_HASH}
        }

        reverse_proxy http://localhost:5601
    }
}