{{define "layout"}}
<!doctype html>
<title>{{block "title" .}}Welcome{{end}} | MiniTwit</title>
<link type=text/css href="/static/css/style.css">
<div class=page>
  <h1>MiniTwit</h1>
  <div class=navigation>
  {{ if .User }}
    <a href="{{/timeline}}">my timeline</a> |
    <a href="{{/public}}">public timeline</a> |
    <a href="{{/logout}}">sign out [{{ User.username }}]</a>
  {{else}}
    <a href="{{/public}}">public timeline</a> |
    <a href="{{/register}}">sign up</a> |
    <a href="{{/login}">sign in</a>
  {{end}}
  </div>
  {% with flashes = get_flashed_messages() %} <!-- I have no clue about what to do with this one-->
    {% if flashes %}
      <ul class=flashes>
      {% for message in flashes %}
        <li>{{ message }}
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <div class=body>
  {{block "body" .}}{{end}}
  </div>
  <div class=footer>
    MiniTwit &mdash; A Flask Application
  </div>
</div>
