{{ define "base" }}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{ block "title" . }} Welcome {{ end }} | MiniTwit</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
  </head>
	<body>
    <div class="page">
      <h1>MiniTwit</h1>
      <div class="navigation">
        {{ if (ne .SessionData.Username "") }}
          <a href="timeline.html">My timeline</a>
          <a href="timeline.html">public timeline</a> <!--Remove "{username}" when testing, there for reference-->
          <a href="login.html">login</a>
        {{ else }}
          <a href="timeline.html">public timeline</a><!--the linking between pages are expected to fail at the moment. might need a function in the main.go to handle redirects? and call it with different "endpoints" as strings.-->
          <a href="/register">sign up</a>
          <a href="/login">sign in</a>
        {{ end }}
      </div>
      {{ range .SessionData.Flashes }}
        <ul class=flashes>
            <li>{{ . }}</li>
        </ul>
      {{end}}
      <div class="body">
        {{block "body" .}} {{end}}
      </div>
      <div class=footer>
        MiniTwit &mdash; A Go Application
      </div>
    </div>
	</body>
</html>
{{ end }}