{{ template "base" .}}
{{ define "title" }} User timeline {{ end }}
{{ define "body" }}
    <h2>User Timeline</h2>
    {{ if (ne .SessionData.Username "") }}
        <div class=followstatus>
            {{ if (eq .SessionData.Username .Profile_User)}}
                This is you!
            {{ else if .Followed }}
                You are currently following this user.
                <a class=unfollow href="/{{ .Profile_User }}/unfollow">Unfollow user</a>.
            {{ else }}
                You are not yet following this user.
                <a class=follow href="/{{ .Profile_User }}/follow">Follow user</a>.
            {{ end }}
        </div>
    {{ end }}
    <ul class=messages>
        {{ range .Messages }}
            <li><img src="{{ gravatar_url .email 48 }}"><p>
            <strong><a href="/{{ .username }}">{{ .username }}</a></strong>
                {{ .text }}
            <small> - {{ format_datetime .pub_date }}</small>
        {{ else }}
            <li><em>There's no message so far.</em>
        {{ end }}
    </ul>
{{ end }}